@import "../helium/helium";

@mixin jr-theme {
  @include helium;

  .side-meny {
    position: absolute;
    top: 0;
    Width: 315px;
    Height: 100%;
    background: #FFFFFF;

    /* Frame shadow X */
    box-shadow: 3px 0px 5px rgba(33, 33, 33, 0.08);
  }

  .header-frame-1 {
    position: absolute;
    width: calc(100% - 315px);
    height: 80px;
    left: 315px;

    /* Main Blue */
    background: #00447C;
  }

  .header-text {
    /* АО “Выксунский металлургический завод” */
    position: absolute;
    width: 683px;
    height: 22px;
    left: 20px;
    top: calc(50% - 22px / 2);
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    /* identical to box height, or 22px */
    display: flex;
    align-items: center;
    text-transform: uppercase;
    /* White */
    color: #FFFFFF;
  }

  header-avatar {
    /*css="width:56px; height:56px; top:calc(50%-56px/2); right:122px;"*/
    /* Avatar */
    /*position: absolute;*/
    width: 56px;
    height: 56px;
    right: 25px;
    top: calc(50% - 56px / 2);
  }

  .work-area {
    position: absolute;
    top: 80px;
    left: 315px;
    bottom: 0;
    right: 0;
    /*    width: calc(100% - 315px);
        height: calc(100% - 80px);*/
    /* Gray Background */
    background: #EFEFEF;
  }

  .photo-on-work-area {
    position: absolute;
    height: 215px;
    width: 100%;
    background: #FFFFFF;

    /*background: #EFEFEF;*/
  }


  /*  .control-box {
      position: absolute;
      top: 126px;
    }*/

  .side-meny-contract-button {
    /* кнопки */
    border: none;
    /*position: static;*/
    width: 95px;
    height: 24px;
    left: 20px;
    top: calc(50% - 24px / 2);
    font-family: Arial;


    /*    font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
       !* line-height: 135%;*!
        !* or 24px *!
        display: flex;
        align-items: center;
        !* Black *!
        color: #212121;*/

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 16px;
    color: #212121;
  }

  .lower-button {
    position: absolute;
    bottom: 100px;

    margin: 8px 16px;
    color: #212121;
  }

  .test{
    background: #EFEFEF;
  }
}